
<br>

<article>
	
	<!--p><%= @corso.descrizione %></p-->



	<div style="color: #696969;" class="row">
  <div class="col-md-3 order-md-1" >
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Descrizione</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Consigli</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Sbocchi</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-insegnamenti-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Insegnamenti</a>
      
    </div>
  </div>
  <div class="col-md-9 order-md-2 mb-4" >
    <div  class="tab-content text-justify" id="v-pills-tabContent">
    	<h3 style="color: #696969;" align="center" class="navbar-brand" >Corso di laurea in <%= @corso.nome %> </h3>
      <div style=" white-space: pre-wrap" class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><%= @corso.descrizione %></div>
      <div style=" white-space: pre-wrap"class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><%= @corso.consigli %></div>
      <div style=" white-space: pre-wrap" class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><%= @corso.sbocchi %></div>

      

      <div class="tab-pane fade" id="v-insegnamenti-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
 
 

        <p >
          A = Di Base <br>
          B = Caratterizzanti<br>
          C = Affini<br>
          E1 = Lingua straniera <br>
        </p>

        <table >
          <tr><th>Ambito </th><th>Insegnamento / Attività</th></tr>
          <% for materia in @mats %>

          <tr>
            <td  align="center"><%=  materia.tipo %> </td>
            <td> <a style="color: #696969;" href=<%='/materia/'+materia.id.to_s %> >   <%= materia.nome.titleize%></a></td>
          
                   <!--% @types.delete( @types.first ) %-->
          </tr>
          <% end%>
        </table>
         
      

      </div>
      
    </div>
  </div>
</div>
<br><br>


        
          
</article>

