<%require 'set'
cours = Set[]
 %>

<% if ((@interessi && @sbocchi && !@sbocchi.empty? && @interessi.empty? && @corsis.first.size == 0) ||
            (@corsis.size == 0))%>
  <div style="color: #696969;">
    <h5>Nessun risultato trovato per:</h5>
    <%if @interessi && @sbocchi && !@interessi.empty? && !@sbocchi.empty? %>
      <p><FONT size="5">Interessi: <strong><%=@interessi%></strong></FONT></p>
      <p><FONT size="5">Sbocchi: <strong><%=@sbocchi%></strong></FONT></p>
    <%elsif @interessi && @sbocchi && !@interessi.empty? && @sbocchi.empty?%>
      <p> <FONT size="5">Interessi: <strong><%=@interessi%></strong></FONT></p>
    <%else @interessi && @sbocchi && !@sbocchi.empty? && @interessi.empty?%>
      <p><FONT size="5">Sbocchi: <strong><%=@sbocchi%></strong></FONT></p>
    <%end%>
  </div>
<% else%>
  <div style="color: #696969;">
    <p >Risultati trovato per:
      <%if @interessi && @sbocchi && !@interessi.empty? && !@sbocchi.empty? %>
        <p><FONT size="5">Interessi: <strong><%=@interessi%></strong></FONT></p>
        <p><FONT size="5">Sbocchi: <strong><%=@sbocchi%></strong></FONT></p>
      <%elsif @interessi && @sbocchi && !@interessi.empty? && @sbocchi.empty?%>
        <p> <FONT size="5">Interessi: <strong><%=@interessi%></strong></FONT></p>
      <%elsif @interessi && @sbocchi && !@sbocchi.empty? && @interessi.empty?%>
        <p><FONT size="5">Sbocchi: <strong><%=@sbocchi%></strong></FONT></p>
      <%else%>
        <%all = 1%>
        <p><FONT size="5">Tutti i corsi di laurea</FONT></p>
      <%end%>
    </p>
  </div>


  <%tags = " "%> <!-- concatteneremo qui tutti i tags di tutti i corsi -->
  <%for tagging in @for_tag
        
        tags << tagging.tag.titleize
        tags << ","

  end %>

  <p class="list-group-item list-group-item-success">Tags:
      <%= raw tags.split(',').map { |t| link_to t, tag_path(t)   }.sort.join(' - ') %>
      <hr>
  </p>

  <!--
  visto che ogni record di corsi possono contenere corsi che si potrebbero ripetere in altri record.
  con un ciclo while estraiamo titti i corsi di ogni record che inseriamo in un set di corsi per non
  avere corsi di diversi resord che si ripetono. 
  -->

  
  <% while @corsis.size != 0 %> 
    <% corsi = @corsis.first %>      
    <% @corsis.delete(corsi) %>
    <%for corso in corsi
      if !corso.nil?
        cours.add(corso) 
      end                  
    end %> <!-- FINE FsOR -->.
  <%end%> <!-- FINE WHILE @for_tag-->
  
  <% while cours.size != 0 %> 
    <% cs = cours.first %>      
    <% cours.delete(cs) %>
    <div class="container">
      <div  class="row" >              
        <ul>
          <li>
            <p><a style="color: #696969;" href=<%='corsi/corso/'+cs.id.to_s %> ><%= cs.nome %></a></p>
          </li>                      
        </ul> 
      </div>
    </div>
  <%end%> <!-- FINE WHILE -->
<%end%>

