
<br>

<article>
	
	


	<div style="color: #696969;" class="row">
  <div class="col-md-3 order-md-1" >
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" >Presentazione</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Biblioteca</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-orario" role="tab" aria-controls="v-pills-messages" aria-selected="false">Orario delle lezioni</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Riferimenti utili</a>
      
    </div>
  </div>
  <div class="col-md-9 order-md-2 mb-4" >
    <div class="tab-content text-justify" id="v-pills-tabContent">
    	<h3 class="navbar-brand" >Dipartimento di Ingegneria </h3>

      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Il Dipartimento di Ingegneria dell’Università di Ferrara è nato nel 1996. Nel 2012, in seguito alle Legge 240/10, si è costituito come nuova struttura che svolge attività di formazione e ricerca negli ambiti dell’Ingegneria Civile, Industriale e dell’Informazione. Al Dipartimento afferiscono oltre settanta unità di personale di ruolo fra docenti, ricercatori, personale tecnico e amministrativo e circa un centinaio fra assegnisti di ricerca, dottorandi e collaboratori a vario titolo che lavorano per offrire il meglio nella ricerca ed un ambiente di studio dinamico e stimolante con corsi di Laurea in Ingegneria Civile e Ambientale, Ingegneria Elettronica e Informatica, Ingegneria Meccanica e Lauree Magistrali in Ingegneria Civile, Ingegneria Elettronica e delle Telecomunicazioni, Ingegneria Informatica e dell'Automazione, Ingegneria Meccanica.
      </div>


      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
      	<a style="color: #696969;" href="http://sba.unife.it/it/biblioteche/macroarea-ST/st"><strong>Biblioteca Scientifico-Tecnologica</strong> </a>
      	<p>La Biblioteca Scientifico-Tecnologica è nata nel giugno del 2003 dall’unione delle ex biblioteche della Facoltà di Ingegneria e dei Dipartimenti di Fisica, Scienze della Terra. La Biblioteca è collocata all’interno del Polo Scientifico e Tecnologico in un antico edificio industriale, ristrutturato nei primi anni ’90, nel quale aveva sede la Facoltà di Ingegneria. A pochi passi dalla stazione, in zona periferica, il Polo Scientifico-Tecnologico è dotato di ampi parcheggi ed è facilmente raggiungibile con i mezzi pubblici.</p>
      </div>
      

      <div class="tab-pane fade" id="v-pills-orario" role="tabpanel" aria-labelledby="v-pills-home-tab">

		In questo portale potrai visualizzare:<br><br>
		<ul>
			<li><a style="color: #696969;" href="https://aule.unife.it/EasyRoom/Orario/index.php?view=easycourse&_lang=it&empty_box=0&col_cells=0" target="_blank"><strong>L'orario delle lezioni</strong></a></li>
			<li><a style="color: #696969;" href="https://aule.unife.it/EasyRoom/Orario/index.php?view=rooms&include=rooms&_lang=it&empty_box=0&col_cells=0" target="_blank"><strong>L'occupazione delle aule</strong></a></li>
			<li><a style="color: #696969;" href="https://aule.unife.it/EasyRoom/Orario/index.php?view=infoapp&_lang=it&empty_box=0&col_cells=0" target="_blank"><strong>Le informazioni sulla App</strong></a></li>
		</ul>


      </div>

      	<div style="color: #696969;" class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
      	    <div class="" id="parent-fieldname-text-f82826ef27db4308ada2c76058c71511">
            	<div id="content-core">
					<div id="parent-fieldname-text-455ad324502347aceae8ba3204fa44c1">
						<p>A chi rivolgersi per informazioni e problemi:</p>
						<table class="plain">
							<tbody>
								<tr>
									<td>
										<ul>
											<li><a style="color: #696969;" href="http://www.unife.it/studenti/offerta-formativa/		segreterie-studenti" target="_blank"><strong>Segreteria studenti
												</strong></a>: per tutte le problematiche amministrative relative a procedure di immatricolazione, registrazioni esami.....
											</li>
											<li>Per informazioni su modalità di immatricolazione e iscrizione: 
												<a style="color: #696969;" href="http://www.unife.it/studenti/immatricolazioni-e-iscrizioni target="_blank""><strong>http://www.unife.it/studenti/immatricolazioni-e-iscrizioni</strong></a>
											</li>
											<li>Tasse, diritto allo studio:<a style="color: #696969;" href="http://www.unife.it/studenti/tasse-agevolazioni" target="_blank"></a>
												<a style="color: #696969;" class="external-link" href="http://www.unife.it/studenti/agevolazioni"><strong>http://www.unife.it/studenti/agevolazioni</strong></a>
											</li>
											<li><a style="color: #696969;" class="external-link" href="http://www.ing.unife.it/it/didattica/scambi-internazionali/erasmus" target="_blank"><strong>Tutor Erasmus</strong></a>: riferimento per studenti in ingresso o in uscita nell'ambito di progetti di scambio internazionale
											</li>
										</ul>
									</td>
								</tr>
							<tr>
								<td><a style="color: #696969;" href="https://de.unife.it/it/raggiungerci/dove-siamo" class="internal-link" target="_blank"><strong>	Dove siamo:</strong></a> indicazioni su do ve si trova il dipartimento e come raggiungerlo
								</td>
							</tr>
							<tr>
								<td><a style="color: #696969;" href="https://de.unife.it/it/didattica/corsi-di-laurea/manager" class="internal-link" target="_blank"><strong>Manager Didattici:</strong></a> per consigli sulla scelta degli esami, sui tirocini, per problemi relativi alla didattica
								</td>
							</tr>
							<tr>
								<td><a style="color: #696969;" href="https://de.unife.it/it/didattica/servizi-agli-studenti/rappresentanti-degli-studenti" class="external-link" target="_blank"><strong>Rappresentanti degli studenti</strong></a>: nominativi e contatti dei rappresentanti degli studenti nei Consigli di Corso di Laurea
								</td>
							</tr>
							<tr>
								<td><a style="color: #696969;" href="https://de.unife.it/it/didattica/valutazione-di-qualita/commissione-paritetica" class="internal-link" target="_blank"><strong>Commissione paritetica e relazioni della commissione:</strong></a><span class="external-link">sui risultati della valutazione della didattica da parte degli studenti</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="visualClear"></div>
			<div class="documentActions">
		</div>  
    </div>
</div>
</div>
</div>
</div>
      
   
<br><br>
</article>

