<br>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active text-center">
      <%= image_tag "gud.jpg", size: "500x300", alt: 'gud.jpg'%>
      
    </div>
    <div class="carousel-item text-center">
      
      <%= image_tag "clt.jpg", size: "500x300", alt: 'gud.jpg'%>
    </div>
    <div class="carousel-item text-center">
      
      <%= image_tag "ing.jpg", size: "500x300", alt: 'gud.jpg'%>
    </div>
    <div class="carousel-item text-center">
      
      <%= image_tag "bib.jpg", size: "500x300", alt: 'gud.jpg'%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
