
<br>

<article>
 


  <div style="color: #696969;" class="row">
  <div class="col-md-3 order-md-1" >
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-obiettivi" role="tab" aria-controls="v-pills-home" aria-selected="true">obiettivi</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-prerequisiti" role="tab" aria-controls="v-pills-profile" aria-selected="false">prerequisiti</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-contenuti_corso" role="tab" aria-controls="v-pills-messages" aria-selected="false">contenuti del corso</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-metodi_didattici" role="tab" aria-controls="v-pills-messages" aria-selected="false">metodi didattici</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-madalita_verifica" role="tab" aria-controls="v-pills-messages" aria-selected="false">modalita di verifica</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-test_riferimento" role="tab" aria-controls="v-pills-messages" aria-selected="false">test di riferimento</a>
      
    </div>
  </div>
  <div class="col-md-9 order-md-2 mb-4" >
    <div  class="tab-content text-justify" id="v-pills-tabContent">
      <p  > <%= @materia.nome.titleize %> </p>     
       <p  >Docente: <%= @materia.docente.titleize %> </p>
      
      <div style=" white-space: pre-wrap" class="tab-pane fade" id="v-pills-obiettivi" role="tabpanel" aria-labelledby="v-pills-profile-tab"><%= @materia.obiettivi %></div>
      <div style=" white-space: pre-wrap" class="tab-pane fade" id="v-pills-prerequisiti" role="tabpanel" aria-labelledby="v-pills-messages-tab"><%= @materia.prerequisiti %></div>
      <div style=" white-space: pre" class="tab-pane fade" id="v-pills-contenuti_corso" role="tabpanel" aria-labelledby="v-pills-messages-tab"><%= @materia.contenuti_corso %></div>
      <div style=" white-space: pre-wrap" class="tab-pane fade" id="v-pills-metodi_didattici" role="tabpanel" aria-labelledby="v-pills-messages-tab"><%= @materia.metodi_didattici %></div>
      <div style=" white-space: pre-wrap" class="tab-pane fade" id="v-pills-madalita_verifica" role="tabpanel" aria-labelledby="v-pills-messages-tab"><%= @materia.madalita_verifica %></div>
      <div style=" white-space: pre" class="tab-pane fade" id="v-pills-test_riferimento" role="tabpanel" aria-labelledby="v-pills-messages-tab"><%= @materia.test_riferimento %></div>
      
    </div>
  </div>
</div>
<br><br>
</article>

