<br><article style="color: #696969;">

	<div class="row">
  <div class="col-md-3 order-md-1" >
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Alloggi</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Cerchi alloggio?</a>
      
      
    </div>
  </div>
  <div class="col-md-9 order-md-2 mb-4" >
    <div class="tab-content text-justify" id="v-pills-tabContent">
    	<h3 class="navbar-brand" >Gli alloggi al centro dell'esperienza universitaria</h3>
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Trovare la soluzione abitativa giusta è uno degli aspetti più importanti dell’esperienza universitaria e una delle prime problematiche che studentesse, studenti e famiglie devono affrontare.

Il forte incremento delle immatricolazioni registrato quest’anno dall’Università di Ferrara ha reso questo tema una priorità assoluta, dando ad Ateneo, Città e operatori del territorio l’opportunità – oltre che la sfida e l’impegno – di individuare soluzioni adeguate.

A tal fine, è in fase di predisposizione un protocollo d’intesa tra Università, Comune e Provincia di Ferrara, Istituzioni e operatori del territorio.

Si è inoltre attivata una task force ad hoc, per fornire sia risposte efficaci all’esigenza immediata, sia soluzioni strutturali in linea con le aspettative e le necessità di studentesse e studenti fuori sede a partire dal 2018.

Questa pagina ha un duplice scopo:

    fornire a studentesse e studenti un’informativa il più possibile completa e in aggiornamento costante sulle soluzioni abitative che emergeranno dal confronto fra tutte le Istituzioni e gli operatori coinvolti.
    dare agli operatori che vorranno accreditarsi presso l’Università di Ferrara informazioni procedurali essenziali, al fine di proporre soluzioni abitative rispettose degli standard di qualità promossi in modo congiunto da Università e Comune di Ferrara.<br>

</div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
      	
      		 <p style="text-align: justify; ">In questa sezione sono riportate informazioni relative al supporto  offerto da alcuni operatori economici per la ricerca di un alloggio a  Ferrara. <span>Si precisa inoltre che lo studente che dovesse decidere di usufruire dei servizi offerti dai seguenti operatori </span><span>stipulerà </span><span>il  contratto di locazione direttamente  con  l’operatore </span><span>interessato. Per accedere alle pagina dell'operatore di interesse è sufficiente premere sul logo o sul nome del singolo operatore.<br /></span>
      		 </p>
			<p style="text-align: justify; "><span>Qualora un operatore economico volesse aderire alle presente iniziativa potrà registrarsi seguendo la seguente <b><a style="color: #696969;" href="http://www.unife.it/at/bandi-di-gara-e-contratti/elenchi/posti-letto/reperimento-posti-letto-per-studenti-stranieri" class="external-link"><strong>procedura</strong></a>.</b></span>
			</p>
			<h2><span><b> </b>Elenco degli operatori economici:</span></h2>
			<p><span>
				<a class="external-link" href="http://www.bussolacasa.it/it/home-page.aspx?idC=62029&amp;LN=it-IT">
					 
					<%= image_tag "bussola.jpg", alt: 'bussola.jpg'%>
						
				</a>

				</span>
			</p>
			<p style="text-align: justify; "><b><a style="color: #696969;" class="external-link" href="http://www.bussolacasa.it/it/home-page.aspx?idC=62029&amp;LN=it-IT">Bussola</a> </b>è un servizio completamente gratuito di incontro domanda/offerta di opportunità abitative; realizzato da <a style="color: #696969;" class="external-link" href="http://www.ceur.it/"><b>Fondazione Ceur</b></a> (Centro Europeo Università e Ricerca) ha lo scopo di aiutare gli studenti universitari italiani e stranieri a trovare casa.
			</p>
			<p>
				<b>Contatti</b>: Tel. +39 0532 241158 – Email: <a style="color: #696969;" href="mailto:bussola.ferrara@ceur.it" target="_blank"><b>bussola.ferrara@ceur.it</b></a>
			</p>
			<p>
				<span>
					<a href="http://www.er-go.it/index.php?id=6799">
						<%= image_tag "ergo.jpg", alt: 'ergo.jpg'%>
					</a>
				</span>
			</p>
			<p style="text-align: justify; "><b><a style="color: #696969;" href="http://www.er-go.it/index.php?id=6799">ER-go Azienda Regionale per il Diritto agli Studi Superiori</a></b> mette a disposizione alloggi presso le residenze universitarie di Ferrara alle quali si può accedere attraverso le modalità indicate su questo <b><a style="color: #696969;" class="external-link" href="http://www.er-go.it/index.php?id=6799"><b>LINK</b></a></b>.
			</p>
			<p style="text-align: justify; ">In alternativa sono anche pubblicate offerte, ad accesso libero, di alloggi presso le residenze per periodi limitati. Queste offerte sono pubblicate sul <a style="color: #696969;" class="external-link" href="https://servizionline.er-go.it/alloggi/borsino_intro?SEDE_ERGO=fe"><b>Borsino</b></a> degli alloggi disponibili.
			</p>
			<p style="text-align: justify; "><b>Contatti:</b> Residenza Santa Lucia - Via Ariosto 35 - 44121 Ferrara - Tel. +39 0532.688408 - Fax +39 0532.688423
			</p>
			<p> </p>
			<p>
				<b><a class="external-link" href="http://www.er-go.it/index.php?id=6799"></a></b>
			</p>
			<p>
				<span>
					<a style="color: #696969;" class="external-link" href="http://sottotetto.informagiovani.fe.it/">
						<%= image_tag "sottotetto.png", alt: 'sottotetto.png'%>
					</a>
				</span>
			</p>
			<p style="text-align: justify; "><b><a style="color: #696969;"  href="http://sottotetto.informagiovani.fe.it/"><b>Sottotetto</b></a></b> è la banca dati dell'<span class="external-link"><b>Informagiovani del Comune di Ferrara</b></span>, nata per agevolare la ricerca e l'offerta abitativa a Ferrara anche da casa propria senza doversi recare nella nostra città. Gli studenti universitari dell'Ateneo potranno cercare opportunità abitative offerte da agenzie che a vario titolo hanno case o posti letto da affittare e/o proprietari privati di abitazioni.</p>
			<p> </p>
			<p>
				<a href="http://www.sintecorealestate.it">
					<%= image_tag "sinteco.jpg", alt: 'sinteco.jpg'%>
				</a>
			</p>
			<p style="text-align: justify; "><a style="color: #696969;" class="external-link" href="http://www.sintecorealestate.it"><b>Sinteco Real Estate</b></a> gestisce un Residence "<a style="color: #696969;" class="external-link" href="http://www.residence.ferrara.it/chiozzino_residence_ferrara_ita.htm"><b>Il Chiozzino</b></a>" nel centro della città di Ferrara fra vicolo Chiozzino e via Piangipane. Appartamenti monolocali e bilocali, pensati per rendere piacevole e il soggiorno a Ferrara per periodi brevi, medi o lunghi.</p>
			<p style="text-align: justify; "><b>Contatti: </b>Via Ripagrande 29 – 44121 Ferrara - Tel. +39 0532 793911 – Fax +39 0532 768222 - Email: <a style="color: #696969;" class="mail-link" href="mailto:info@sintecorealestate.it"><b>info@sintecorealestate.it</b></a>
			</p>
			



			<p><%= image_tag "acer.jpg", alt: 'acer.jpg'%></p>



			<p style="text-align: justify; "><a style="color: #696969;" class="external-link" href="http://www.acerferrara.it"><b>ACER Ferrara</b></a> è in grado di offrire a studenti, docenti universitari e ricercatori, la soluzione abitativa più adatta e servizi puntuali. Dispone di diverse possibilità in strutture di varie dimensioni.  Prezzi e dotazioni variano a seconda della tipologia, ma tutti gli immobili sono in buono stato manutentivo, alcuni anche appena ristrutturati, ed arredati in modo gradevole e funzionale.
			</p>
			<p style="text-align: justify; "><b>Contatti:</b> C.so Vittorio Veneto n. 7 – 44121 Ferrara – Tel. +39 0532 <span style="text-align: justify;" >230335 </span>– Fax: +39 0532 207854 - Email: <a style="color: #696969;" class="mail-link" href="mailto:agenzia.locazione@acerferrara.it"><b>agenzia.locazione@acerferrara.it</b></a></p>
			<p style="text-align: justify; ">In particolare vengono messi a disposizione degli studenti dell'Università di Ferrara alloggi in camere singole o doppie presso la <b><a style="color: #696969;" class="external-link" href="http://www.acerferrara.it/p/261/residenza-putinati-149.html"><b>Residenza Putinati</b></a></b> (Via Putinati, 149 - Ferrara). Per maggiori informazioni è possibile rivolgersi a: Dott. Marco Cassarà -<span style="text-align: justify; "> Tel. +39 0532 </span><span style="text-align: justify; ">230335</span>- Email: <a style="color: #696969;" class="mail-link" href="mailto:marco.cassara@acerferrara.it"><b> marco.cassara@acerferrara.it</b></a>
			</p>
			
				
				<p><%= image_tag "camplus.png", alt: 'camplus.png'%></p>
			
			
			<p><b> </b><span><a style="color: #696969;" class="external-link" href="http://www.camplusapartments.it"><b>Camplus Apartments</b></a> è la prima rete nazionale privata dedicata all’accommodation di studentesse e studenti universitari.</span>
			</p>
			<p>via Mortara 171 - 44121 Ferrara<span> </span><span> </span>
			</p>
			<p><b>Contatti:</b></p>
			<p>tel. 0532/200930, <span>mail </span><a style="color: #696969;" class="mail-link" href="mailto:ferrara.apartments@camplus.it."><b>ferrara.apartments@camplus.it</b></a>,  sito web: <a style="color: #696969;" href="http://www.camplusapartments.it/" target="_blank"><b>www.camplusapartments.it</b></a>
			</p>
      
      </div>
      
      
    </div>
  </div>
</div>
<br><br>
</article>
