
<table class="listing">
	<tbody>
		<tr><td>
				<h3 style="text-align: center; "><b>Associazione</b></h3>
			</td>
			<td>
				<h3><b>Autorizzazione</b></h3>
			</td>
			<td>
				<h3 style="text-align: center; "><b>Contatti</b></h3>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: center; "><b>A.F.U. de li 4S</b></p>
				<p style="text-align: center; ">(Associazione Ferrarese Universitaria de li 4S)</p>
				<p style="text-align: center; "><img src="http://www.unife.it/studenti/diritto-studio/associazioni-studentesche/loghi-associazioni/AFUDeLi4Slogo.jpg" title="AFU de li 4S" height="72" width="102" alt="Logo dell'associazione AFU de li 4S" class="image-inline" /></p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 18/2014</p>
			</td>
			<td>
				<ul>
					<li><span  ><a   href="https://www.facebook.com/Associazione-Ferrarese-Universitaria-de-li-4S-1690500601172564/"><b>Pagina Facebook</b></a> </span></li>
					<li><b>Presidente</b>: Roberto Antignani,<br />Tel. +39 3931185575<br />e-mail: <a href="mailto:roberto.antignani@student.unife.it" target="_blank">roberto.antignani@student.unife.it</a></li>
					<li><b>Vicepresidente</b>: Armanda De Letteriis<br />Tel. +39 3203135208<br />e-mail: armanda.deletteriis@libero.it<a href="tel:320%20313%205208" target="_blank"><br /></a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center"><b>AIESEC</b></p>
				<p align="center">(Association Internationale des Etudiants en Sciences Economiques et Commerciales)</p>
				<p align="center" style="text-align: center; "><img src="http://www.unife.it/studenti/diritto-studio/associazioni-studentesche/Logo1.png/image_thumb" alt="" class="image-inline" title="" /></p>
				<p align="center"> </p>
				<p align="center"> </p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 1618/2014</p>
			</td>
			<td>
				<ul>
					<li><b>Sito web nazionale</b>:<br /><a href="http://aiesec.org/">http://aiesec.org</a></li>
					<li><b>@</b> AIESEC Ferrara<span>:</span></li>
					<li><a class="mail-link" href="mailto:aiesec@ferrara.it">aiesec[at]ferrara.it</a></li>
					<li><a   href="https://www.facebook.com/AIESECItaly/">Pagina Facebook</a></li>
				</ul>
			</td>
		<tr>
			<td>
				<p align="center"><b>A.S.C.A.F.</b></p>
				<p align="center">(Associazione Studenti Continente   Africano)</p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 1192/2012</p>
			</td>
			<td></td>
		</tr>
		<tr>
			<td style="text-align: center; ">
				<p style="text-align: center; "><b>A.U.A.M</b>.</p>
				<p style="text-align: center; ">(Associazione Universitaria Audiovisiva e Multimediale)</p>
				<p style="text-align: center; "><img class="image-inline" height="119" src="http://www.unife.it/studenti/diritto-studio/associazioni-studentesche/resolveuid/02166f51a8d54f3784d8cd9b25b6054b" width="119" /></p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 132972010</p>
			</td>
			<td>
				<ul>
					<li><b>Sito web</b>: <a href="http://www.auam.it/" target="_blank">www.auam.it</a></li>
					<li><span  ><a   href="https://www.facebook.com/auamferrara/"><b>Pagina Facebook</b></a></span></li>
					<li><span  ><b><a   href="https://www.youtube.com/channel/UCOfVTSd0mBHdaqc2Sm8E7iA">Pagina YouTube</a></b></span></li>
					<li><span  ><b><a   href="https://plus.google.com/117362588797837049325/about">Pagina Google+</a><br /></b></span></li>
					<li><b><b>@ </b>AUAM</b>:<br /><a href="mailto:auam.video@gmail.com" target="_blank">auam.video[at]gmail.com</a></li>
					<li><b>Presidente</b>: Nicola Passarotto</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center"> </p>
				<p align="center"><b>Azione Universitaria</b></p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 398/2011</p>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<p align="center"><b>C.A.M.</b></p>
				<p align="center">(Centro Accoglienza Matricole)</p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 416/2010</p>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<p align="center"><b>E.L.S.A.</b></p>
				<p align="center">(The European   Law Student's Association)</p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 1019/2009</p>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<p style="text-align: center; "><b>E.S.N. Ferrara</b></p>
				<p style="text-align: center; ">(Erasmus Student Network)</p>
			</td>
			<td style="text-align: center; ">Decreto Rettorale 641/2012</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<p align="center" style="text-align: center; "><b>LINK</b></p>
				<p align="center" style="text-align: center; ">Studenti Indipendenti Ferrara</p>
				<p align="center" style="text-align: center; "><img src="http://www.unife.it/studenti/diritto-studio/associazioni-studentesche/loghi-associazioni/LINKlogo.jpg" title="LINK logo" height="69" width="124" alt="Logo associazione LINK" class="image-inline" /></p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 128/2016</p>
			</td>
			<td>
				<ul>
					<li><b><a   href="https://www.facebook.com/linkferrara/?ref=tn_tnmn">Pagina Facebook</a></b></li>
					<li><b><span class="mail-link"><b>@</b> LINK Ferrara:<br /></span></b><a href="mailto:linkferrara@gmail.com" target="_blank">linkferrara[at]gmail.com</a></li>
					<li><span class="mail-link"><b>Referente</b>: Pierluigi Iapichino,<br /><a href="mailto:pierluigi.iapichino@student.unife.it" target="_blank">pierluigi.iapichino[at]student.unife.it</a></span><b><span class="mail-link"><span style="color: #ffffff; text-align: start; width: 0px;">linkferrara@gmail.com</span></span></b></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center"> </p>
				<p align="center"><b>Lista Indipendente   Astrea</b></p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 732/2015</p>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<p align="center"><b>M.U.E.</b></p>
				<p align="center">(Movimento Universitario Estense)</p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 19/2014</p>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
					<p align="center"> </p>
					<p align="center"><b>Over-View</b></p>
					<p align="center"> </p>
			</td>
			<td>
					<p align="center">Decreto Rettorale 1608/2009</p>
			</td>
			<td></td>
		</tr>
		<tr>
			<td style="text-align: center; ">
				<b>Phoenix Factory</b></td>
			<td>Decreto Rettorale 792/2017</td>
			<td></td>
		</tr>
		<tr>
			<td style="text-align: center; ">
				<p><b>PreHistorica</b></p>
				<p><b><img src="http://www.unife.it/studenti/diritto-studio/associazioni-studentesche/loghi-associazioni/prehistoricalogo.png" title="PreHistorica" height="84" width="219" alt="PreHistorica" class="image-inline" /><br /></b></p>
			</td>
			<td>Decreto Rettorale 875/2016</td>
			<td>
				<p><b>@ PreHistorica</b>:: <a href="mailto:paleolab@unife.it" target="_blank">paleolab@unife.it</a></p>
				<p>Palazzo Turchi di Bagno<br />Corso Ercole I d'Este 32, Ferrara</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center"><b>R.U.A.</b></p>
				<p align="center">(Rete Universitaria Attiva)</p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 1235/2009</p>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<p align="center"><b>S.I.S.M.</b></p>
				<p align="center">(Segretariato Italiano Studenti   Medicina)</p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 510/2010</p>
				</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<p align="center"> </p>
				<p align="center"><b>Student Office</b></p>
				<p align="center"><b><br /></b></p>
				<p align="center"><b><img src="http://www.unife.it/studenti/diritto-studio/associazioni-studentesche/loghi-associazioni/so.jpg/image_thumb" alt="" class="image-inline" title="" /><br /></b></p>
			</td>
			<td>
				<p align="center">Decreto Rettorale n. 382/2009</p>
			</td>
			<td>
				<ul>
					<li><a   href="http://www.facebook.com/studentofficeferrara"><b>Pagina Facebook</b></a></li>
					<li><b>@ Student Office:<br /></b><a href="mailto:fe.studentoffice@gmail.com" target="_blank">fe.studentoffice@]gmail.com</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center"> </p>
				<p align="center"><b>Uniservice</b></p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 822/2014</p>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<p align="center"> </p>
				<p align="center"><b>Universal Study   Project</b></p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 821/2014</p>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<p align="center" style="text-align: center; "><b>Universud</b></p>
				<p align="center" style="text-align: center; "><b><br /></b></p>
				<p align="center" style="text-align: center; "><img src="http://www.unife.it/studenti/diritto-studio/associazioni-studentesche/loghi-associazioni/Universudlogo.jpg" title="Universud logo" height="78" width="65" alt="Logo dell'associazione Universud" class="image-inline" /></p>
			</td>
			<td>
				<p align="center">Decreto Rettorale 629/2015</p>
			</td>
			<td>
				<ul>
					<li><b>Sito web nazionale</b>:<br /><a href="http://www.universud.wordpress.com/" target="_blank">www.universud.wordpress.com</a></li>
					<li><span  ><a   href="https://www.facebook.com/universud"><b>Pagina Facebook</b></a> </span></li>
					<li><b>@ Universud: </b><a href="mailto:universud.unife@gmail.com" target="_blank">universud.unife[at]gmail.com</a></li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
            
        