<br>
<article style="color: #696969;">
	
	<div class="row">
  <div class="col-md-3 order-md-1" >
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Turismo</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Cinema</a>
      
      
    </div>
  </div>
  <div class="col-md-9 order-md-2 mb-4" >
    <div class="tab-content text-justify" id="v-pills-tabContent">
    	<h3 class="navbar-brand" >Divertirsi a FERRARA</h3>
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Ferrara la città delle biciclette è una meta molto carattersitica e suggestiva ricca di antiche mura e di un'arte che ha donato un impulso in più all'arte italiana. Ogni angolo di Ferrara è ricco di fascino e di storia, e per poter godere al meglio della città vi consigliamo di percorrere in lungo e in largo il centro storico che rientra nel Patrimonio dell'Umanità dell'UNESCO. Simbolo
della città è il suggestivo Castello Estense. Tra le innumerevoli bellezze artistiche si possono visitare il Palazzo dei Diamanti, la Cattedrale di San Giorgio, il Palazzo Schifanoia, il Duomo di Ferrara e la loggia dei Mercanti. </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><ul>
      <li>
        <a style="color: #696969;" href="https://www.ucicinemas.it/" target="_blank"><b>UCI Cinemas Ferrara</b></a>
      </li>
      <li>
        <a style="color: #696969;" href="http://www.cinemaboldini.it/" target="_blank"><b>Cinema Boldini</b></a>
      </li>
      <li>
        <a style="color: #696969;" href="http://www.apollocinepark.it/index.php" target="_blank"><b>Apollo Cinepark</b></a>
      </li>
      <li>
        <a style="color: #696969;" href="https://www.facebook.com/Cinema-San-Benedetto-193117957427573/" target="_blank"><b>Cinema San Benedetto</b></a>
      </li>
      <li>
        <a style="color: #696969;" href="http://www.cinemasantospirito.it/programma.html" target="_blank"><b>Santo Spirito</b></a>
      </li>
    </ul></div>
      
      
    </div>
  </div>
</div>
<br><br>
</article>