
<br>
<article style="color: #696969;">
	
	<div class="row">
  <div class="col-md-3 order-md-1" >
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mezzi di trasporto</a>
      <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Informazioni utili</a>
      
      
    </div>
  </div>
  <div class="col-md-9 order-md-2 mb-4" >
    <div class="tab-content text-justify" id="v-pills-tabContent">
    	<h3 class="navbar-brand" >Mobilità a Ferrara e verso Ferrara</h3>
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"> 
      	<ul>
				<li><b>A piedi</b> - <a style="color: #696969;"  href="http://servizi.comune.fe.it/index.phtml?id=7679"><b>Metrominuto Ferrara</b></a> (mappa dei tempi di percorrenza <i>on foot </i>entro le mura)</li>
		</ul>
	
		
		<ul>
			<li>
				<b><a style="color: #696969;"  href="http://www.ferrarainbici.it/" target="_blank">In bicicletta</a></b> (sito web dedicato "Ferrara in bici")
			</li>
		</ul>
		<ul>
			<li>	
					<b>In treno</b> - <a style="color: #696969;" target="_blank" href="http://www.trenitalia.com/"><b>Trenitalia</b></a> - <a style="color: #696969;"  href="http://www.fer-online.it/"><b>Ferrovie Emilia-Romagna</b></a>
			</li>
		</ul>
		<ul>
			<li><b>Autobus</b><a style="color: #696969;"  href="http://www.tper.it/"><br /></a>
			</li>
		<ul>
			<li>
				<a style="color: #696969;"  href="http://www.tper.it/percorsi-orari/servizio-bacino-di-ferrara" target="_blank"><b>Autobus Urbano ed Extraurbano Ferrara (TPER)</b></a>
			</li>
			<li>
				<a style="color: #696969;" href="http://www.tper.it/orari/linee?style=list" target="_blank"><b>Linee urbane ed extraurbane (TPER)</b></a>
			</li>
			<li>
				<a style="color: #696969;" href="https://www.tper.it/" target="_blank"><b>Sito web TPER</b></a>
			</li>
		</ul>

</div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><ul>
		<li><a style="color: #696969;" href="http://mobilita.regione.emilia-romagna.it/mi-muovo"><b>Mi muovo - abbonamenti  integrati dei trasporti pubblici Emilia-Romagna</b></a>
		</li>
		<li>Altre informazioni su areoporti, autostrade, parcheggi sulla sezione<a style="color: #696969;" href="http://www.ferraraterraeacqua.it/it/come-arrivare" target="_blank"><b> "Come arrivare" del portale Ferrara Terra e Acqua</b></a>
		</li>
		<li>
			<a style="color: #696969;" href="http://www.comune.fe.it/index.phtml?id=242" target="_blank"><b>Il canale tematico del Comune di Ferrara dedicato alla mobilità</b></a>
		</li>
	</ul></div>
     
      
    </div>
  </div>
</div>
<br><br>
</article>
