<footer style="color: #696969;" id=main-footer class="text-center" class="navbar-brand">
	<p> Built by ingeger students Wilfried Ndomo and Rosine Tsamo <br>
		 [realized for the course 'progetto di
	programmazione concorente' at University of studys of Ferrara A.Y 2017/2018]
	</p>
	 © 2018 All Rigth Reserved.
</footer>
