
<script type="text/javascript">
$('.dropdown').hover(function(){
   $('.dropdown-menu', this).stop(true, false).slideToggle();   
   $(this).toggleClass('open');
});


</script>
<hr>
<nav style="color: #696969;" class="">
	<div class="col-4 text-left">
            <p class="text-nowrap"><%= Time.now.asctime %></p> 
     </div>

</nav>



<%= render 'layouts/partials/nav_discussions' %>


<nav style="color: #696969;" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" <%= link_to "Home", root_path %> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Il dipartimento", dipartimento_path %> <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item ">
        <a class="nav-link" <%= link_to "Tutti i Corsi", corsi_path %> <span class="sr-only">(current)</span></a>
      </li>     

      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          vita a Ferrara
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to "viaggio", vita_viaggio_path %></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" <%= link_to "alloggio", vita_alloggio_path %></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" <%= link_to "associazioni", vita_associazioni_path %></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" <%= link_to "divertimento", vita_divertimento_path %></a>
          
        </div>
      </li>
      <!--li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li-->
    </ul>
    


    <%= form_tag(corsi_path, method: :get) do %>
    
    <input placeholder="Interessi" <%= text_field_tag :term, params[:term] %>

    <input placeholder="Sbocchi" <%= text_field_tag :term2, params[:term2] %>
    <%= submit_tag 'Search', name: nil %>
    <% end %>

    



  </div>
</nav>


