<!DOCTYPE html>
<html>
  <head>
    <title>WelcomeToIng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <!--%= image_tag "unife.png", size: "200x70" %--> 
    <!--h1>Welcome To Ingegner Dipartment</h1--> 
    <!--%= image_tag "ing.png", size: "200x50" %-->
    <!--%=link_to image_tag("unife.png", border: 0), {action: 'home', controller: 'pages'}, {class: 'dock-item'} %-->
    <!--h1>Welcome To Ingegner Dipartment</h1-->
<!--%=link_to image_tag("ing.png", border: 0), {action: 'home', controller: 'pages'}, {class: 'dock-item'} %-->

    

  <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">

          <div class="pt-1" class="col-md-4 order-md-2 mb-5" >
            
            <%=link_to image_tag("unife.png",  border: 0), {}, {class: 'text-muted img-responsive'} %>

          </div>

          <div class="text-center" class="col-md-4 order-md-2 mb-4" >
            <h2 style="color: #696969;" class="navbar-brand shadow p-3 mb-5 bg-green rounded">Welcome To Ingegner Dipartment</h2>
          </div>

          <div class="img-responsive" class="col-md-4 order-md-2 mb-4" >
             <%= image_tag "ing.png", size: "200x50"  %>           
            
          </div>


  </div>
  </header>


    <%= render 'layouts/partials/nav' %>

    <%= yield %>

    <%= render 'layouts/partials/footer' %>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
